
 
 @media (max-width:1050px) {
    #rooms{
        .roomgrid{
            grid-template-columns: repeat(3,1fr) !important;
        }
    }
}

@media (max-width:960px) {
    #facilities{
        .facilitiesgrid{
            grid-template-columns: repeat(2,1fr) !important;

        }
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 6rem calc(2rem  + 5vw) 6rem;

        ul{
            padding: 0;
            margin: 1rem 0;
        }

    }
}

@media (max-width:830px) {
    #rooms{
        .roomgrid{
            grid-template-columns: repeat(2,1fr) !important;
        }
    }
}


@media (max-width:700px) {
    #facilities{
        .facilitiesgrid{
            grid-template-columns: repeat(1,1fr) !important;

        }
    }

    .bars{
        display: block !important;
        width: 21px;
        height: 17px;
        position: fixed;
        top: 3rem;
        right: 2rem;
        z-index: 12;
        // background: red;

        .bar{
            width: 100%;
            height: 3px;
            background: $primary;
            border-radius: 2px;
            position: relative;
            transition: all .4s;


            &::before{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background: $primary;
                border-radius: 2px;
                top: 6px;
                transition: all .4s;
            }

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background: $primary;
                border-radius: 2px;
                top: 12px;
                transition: all .4s;
            }

        }

        &.activ{
            .bar{
                transform: rotate(45deg);

                &::before{
                    display: none;
                }

                &::after{
                    transform: rotate(90deg);
                    top: 0;
                }
            }
        }

    }

    nav{

     
        // flex-direction: column;
        // justify-content: space-between;
        // padding: 2.2rem 1.5rem 0 !important;
        // align-items: flex-start !important;

        // height: auto !important;

        &>ul{
           
            flex-direction: column;
            margin-top: 1.5rem;
            gap: 0;

            a{
                margin-top: 1rem;
            }
            display: none !important;
        }
        
    }

    .slider{
        &.active{
            display: flex;
        }
    }

}



@media (max-width:575px) {

    #home{
        padding: 6rem 1rem 0 !important;

        .intro{
            h1{
                font-size: 2.95rem !important;
                color: #fff;
            }

            h3{
                font-size: 1.25rem !important;
                color: lighten($primary,20);
            }
        }
    }
    #rooms{
        .roomgrid{
            grid-template-columns: repeat(1,1fr) !important;
        }
    }

    #contact{
        form{       
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            right: auto !important;
        }
    }

    footer{

        padding: 6rem calc(1rem  + 5vw) 6rem;

        .logo{
            left: calc(7vw + 1rem);
            top: 2rem;
            font-size: 2rem;
 
    
            
        }
    }
}